[Unit]
Description=myservice - checks and recreates a file if missing

[Service]
Type=simple
ExecStart=/home/script.sh
Restart=always

[Install]
WantedBy=multi-user.target